
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# Code Recommenders
.recommenders/

# Folders to ignore
JavaRoles/notes
JavaRoles/target
JavaRoles/log4j
JavaRoles/pt
MavenPackagingTests/
ApacheZestTests/