language: java
jdk:
  - oraclejdk7
## Run Integration tests

# All tests that should be run 
script: "mvn -f JavaRoles/pom.xml clean && mvn -f JavaRoles/pom.xml -Dlog4j.configuration=JavaRoles/log4j.properties -Dtest=pt.mashashi.javaroles.typed.RolesTest test && mvn -f JavaRoles/pom.xml clean && mvn -f JavaRoles/pom.xml -Dlog4j.configuration=JavaRoles/log4j.properties -Dtest=pt.mashashi.javaroles.composition.RolesTest test && mvn -f JavaRoles/pom.xml clean"

# Reference commands
#script: "mvn -f JavaRoles/pom.xml clean"
#mvn compile
#mvn test
#script: "mvn -f JavaRoles/pom.xml test && mvn -f JavaRoles/pom.xml verify"